/* styles/SylvanasBio.module.css */
.bioBox {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #232121;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bioBox p {
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify; /* Justify text for a clean layout */
  }
  
  